<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.png">
        <span class="title"></span>
      </div>
      <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2019
      <a href="//github.com/cipchk" target="_blank">MOMTECH</a>
    </global-footer>
  </div>
</div>
