<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'Please enter mobile number!'">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input nz-input formControlName="userName" placeholder="username: admin or user"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="'Please enter password!'">
      <nz-input-group nzSize="large" nzPrefixIcon="lock">
        <input nz-input type="password" formControlName="password" placeholder="password: ng-alain.com"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">Ghi nhớ đăng nhập</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" (click)="msg.error('Vui lòng liên hệ admin')">Quên mật khẩu.</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock>
      Đăng nhập
    </button>
  </nz-form-item>
</form>
<div class="other">
  <!--  Đăng nhập với-->
  <!--  <i-->
  <!--    nz-tooltip="in fact Auth0 via window"-->
  <!--    (click)="open('auth0', 'window')"-->
  <!--    nz-icon-->
  <!--    nzType="alipay-circle"-->
  <!--    class="icon"-->
  <!--  ></i>-->
  <!--  <i nz-tooltip="in fact Github via redirect" (click)="open('github')" nz-icon nzType="taobao-circle" class="icon"></i>-->
  <!--  <i (click)="open('weibo', 'window')" nz-icon nzType="weibo-circle" class="icon"></i>-->
  <a class="register" routerLink="/passport/register">Đăng ký</a>
</div>
