<div class="alain-default__aside-inner">
  <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="userMenu" class="alain-default__aside-user">
    <nz-avatar class="alain-default__aside-user-avatar" [nzSrc]="'https://media.metu.vn/images/' + settings.user.avatar"></nz-avatar>
    <div class="alain-default__aside-user-info">
      <strong>{{ settings.user.name }}</strong>
      <p class="mb0">{{ settings.user.email }}</p>
    </div>
  </div>
  <nz-dropdown-menu #userMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item routerLink="/pro/account/center">Account Center</li>
      <li nz-menu-item routerLink="/pro/account/settings">Account Settings</li>
    </ul>
  </nz-dropdown-menu>
  <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
